[bumpversion]
current_version = 0.0.2
tag_name = v{new_version}
commit = True
tag = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+))?
serialize = 
	{major}.{minor}.{patch}-{release}
	{major}.{minor}.{patch}

[bumpversion:file:./.version]

[bumpversion:file:./.github/workflows/build-image.yml]

